html{
    width: 100%;
    height: 300px;
    margin: 5px 5px 5px 5px;
    font-family: 'Roboto';
    min-height: 300px;
    min-width: 280px;
}

main{
    width: 80%;
    height: 80%;
    margin: 0;
    padding: 0;
}

img{
    margin: 0 auto;
    clear: both;
    padding: 5px;
}

form{
    padding: 5px;
    font-family: 'Roboto';
    font-weight: 300;
}

form input:nth-child(2){
    margin-top: 5px;
}

.modal{
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe;
}

.modal-content{
    background-color: #fefefe;
    margin: 2% auto;
    padding: 5px;
    /*border: 1px solid #888;*/
    width: 80%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    animation-name: animatetop;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    clear: both;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop{
    from{top: -300px;opacity: 0}
    to{top: 0;opacity: 1}
}


#glCanvas{
    width: 100%;
    height: 100%;
    padding: 2% auto;
    clear: both;
}

#oi_gif{
    width: 100%;
    padding: 2% auto;
}

#falibras-icon{
    width: 15%;
    height: 15%;
}