body{
  width: 280px;
  height: 450px;
  background-color: #EEAD0E;
}

#oi_gif{
  width: 240px;
  height: 300px;
  border: #000000 3px solid;
}

#falibras{
  width: 50px;
  height: 50px;
}

#button_traduzir{
  font-weight: bold;
  background-color: #00BFFF;
  border: #000000 2px solid;

}

#button_Recarregar{
  font-weight: bold;
  background-color: #00BFFF;
  border: #000000 2px solid;

}
