body{
  background-color: #a4defc;
  height: 200px;
  width: 180px
}

#oi_gif{
  border: #000000 3px solid;
  height: 180px;
  width: 150px;
}

#falibras{
  width: 30px;
  height: 30px;
}

#button_Recarregar{
  font-weight: bold;
  background-color: #00BFFF;
  border: #000000 2px solid;

}
