body {background-color: #a2dadb}
#gif{
	text-align: center;
	padding-bottom: : 30px;
	}
#text{text-align: center}
#botao{text-align: center}

.imbut{background-image:url("img/repeat.png")}
.imbut:hover{opacity: .5}
.imbut:active{background-image:url("img/repeat-active.png")}
